header .logo {
    text-align: center;
    padding: 24px 0px 10px 0px;
    font-family: 'shrikhand';
    font-size: 30px;
    margin: 0px;
    font-weight: normal;
}

.logo a {
    position: absolute;
    left: 20px;
    top: 20px;
        i {
            font-size: 20px;
        }
}

.head-img {
    height: 270px;
    object-fit: cover;
}
